.titleIMG{
    height: 90px;
    width: 150px;
}

body{
    background-color: rgba(200,200,150,.75);
}

nav{
    color: black;
}
a{
    color: black !important; 
}

.navStyle{
    color: black;
}

.poem {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-image: url(https://i.imgur.com/u1AeckX.png); */
    color: aqua;
}

.responsive-img {
    /* text-align: center; */
    z-index: -1;
}

.text {
    position: absolute;
    /* display: inline; */
    /* max-width: 250px; */
}

.poem {
    max-width: 250px;
    overflow-wrap: break-word;
    padding-left: 450px;
    padding-top: 150px;
}



.poemImage {
    position: relative;
    text-align: center;
}

.navBarFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBarLinks{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    margin-top: 25px;
}
