nav{
    color: black;
}
a{
    color: black !important; 
}

.navStyle{
    color: black;
}

.poem {

    color: white;
}

.responsive-img {

    z-index: -1;
}

.text {
    position: absolute;

}

.poem {
    max-width: 250px;
    overflow-wrap: break-word;
    padding-left: 450px;
    padding-top: 150px;
}



.poemImage {
    position: relative;
    text-align: center;
}
