{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="aboutPage">
<p class="aboutTitle">About Poe</p>

<p class="aboutText"> At Poe, we believe creating a public domain where people can share their love for poetry is a great way for people to connect and collaborate based on a common interests. But when it comes to it, well styled and well edited poems get seen by more people. However, there are many skilled writers who aren’t equipped to style their poems with difficult editing software, which is where we come in. POE allows users with novice editing skills create beautiful themes for their poems without having to use multiple external editing applications. With a few clicks, images and fonts will be automatically applied to the a poem. Then it is as simple as saving and sharing their work!
</p>
</div>
{% endblock %}