{% load static %}
<!DOCTYPE html>
<html class="doc" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Poe</title>
  <link rel="stylesheet" href="{% static 'css/poems.css' %}">
  
</head>
<body>
  <header>
      <div class="navBarFlex">
        <img class="titleIMG" src="https://i.imgur.com/WBROb2v.png">
            <!-- changes below -->
          <div class="navBarLinks">
            <a class="linkText" href="{% url 'about' %}">About</a>
            {% if user.is_authenticated %}
            <a class="linkText" href="{% url 'poes_create' %}">Make A Post</a>
            <a class="linkText" href="{% url 'index' %}">Poes</a>
            <a class="linkText" href="{% url 'genres' %}">Genres</a>
              <!-- <li>(random poem inspo generator)</li> -->
            <a class="linkText" href="{% url 'logout' %}">Log Out</a>
            {% else %}
            <!-- <li><a href="{% url 'about' %}">Log In</a></li> -->
            <a class="linkText" href="{% url 'signup' %}">Sign Up</a>
            <a class="linkText" href="{% url 'login' %}">Log In</a>
            {% endif %}
          </div>
      </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>